* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(240, 240, 240), rgb(248, 242, 242),rgb(248, 220, 224), rgb(255, 172, 186));
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

header {
  /* visibility: hidden; */
  font-weight: bold;
  top: 0;
  display: flex;
  justify-content: flex-end;

  /* position: absolute; */
}

nav{
  z-index: 5;
}

.mobileNav{
  /* margin-top: 1rem;   */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
}




.overlay{
  position:absolute;
  width: 100vw;
  height: 100%;
  z-index: 3;
  backdrop-filter: blur(5px);
  background-color: rgba(92, 92, 92, 0.233);
  transition: width 1s;
}



.mobileMenuOverlay{
  position: absolute;
  right: 0px;
  background-color: rgb(255, 255, 255);
  z-index: 4;
  height: 100%;
  width: 0;
  /* transition: width 0.35s; */
}

.mmOverlayWdith{
  width: 100vw;
  /* transition: width 1s; */
}
#eyeContainer{
  position: absolute;
  z-index: -3;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#eyeM{
  /* position: relative;
  z-index: -3;
  bottom: 0; */
  width: 100%;
  /* margin-bottom: -35rem; */
}

#eyeD{
  width: 75%;
}


.menu-btn {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 10px;
}

.navList {
  list-style: none;
  opacity: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navList > li{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.navListD{
  list-style: none;
  position: absolute;
  left: 4rem;
  top: 4rem;
}
.navListD > li{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}

input[type="checkbox"]{
  opacity:0;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.burgermenu {
  width: 40px;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.burgermenu:before,
.burgermenu:after,
.burgermenu div {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 5px;
  border-radius: 5px;
  margin: 8px 0;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~.burgermenu:before {
  transform: translateY(13.5px) rotate(135deg);
  width: 35.5px;
}
input[type="checkbox"]:checked ~.burgermenu:after {
  transform: translateY(-12px) rotate(-135deg);
  width: 36px;
}
input[type="checkbox"]:checked ~.burgermenu div {
  transform: scale(0);
} 

input[type="checkbox"]:checked ~.navList {
  opacity: 1;
  transition: opacity 1s;
} 

main {
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.home {
  position: absolute;
  top: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 12rem;
}

.about {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  width: 90vw;
}

.homeBtn, .aboutBtn {
  background-color: transparent;
  border: solid 0.4rem;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  font-size: 2rem;
  /* margin-top: 3rem; */
  /* margin-right: 5rem; */
  /* font-weight: bold; */
  padding-left: 1rem;
  /* padding-right: 1.5rem; */
}

.homeBtnD, .aboutBtnD {
  background-color: transparent;
  border: solid 0.2rem;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  font-size: 1.2rem;
  padding-left: 0.8rem;
}

.selectedNav{

  border-radius: 1px;

  border-left-color: #9C0002;
}

.homeTopM  {
  height: 45vh;
  display: flex;
  align-items: flex-end;
}
.homeTopD{
  height: 20vh;
  align-items: flex-end;
}

.homeBottom {
  margin-top: 5vh;
  height: 25vh;
  display:flex;
}

.hidden {
  display: none;
}

.goodreading {
  width: 75vw;
  opacity: 0;
}

.smile {
  width: 24vw;
  opacity: 0;
}

.questionContainer{
  opacity: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.areyou {
  width: 80vw;
}
.btnContainer {
  margin: 0.5rem 0.5rem;
  width: 30vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no, .yes {
  background-color: transparent;
  border: solid black;
  border-radius: 2px;
  border-width: 1px;
  width: 8rem;
  height: 3rem;
  font-size: 1.5rem;
  transition: box-shadow 0.1s ease-in;
  opacity: 0;
  margin-top: 4px;
  /* margin-left: 1px; */
}

.no:hover, .yes:hover {
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.05s ease-out;
  margin-top: 2px;
  margin-left: 0;
}

.no:active {
  background-color: #9C0002;
  margin-top: 6px;
  margin-left: 4px;
  box-shadow: none;
}

.yes:active {
  background-color: #E5E7E2;
  margin-top: 6px;
  margin-left: 4px;
  box-shadow: none;
}

.reveal {
  transition: opacity 1s;
  opacity: 1;
}

.hide {
  transition: opacity 1s;
  opacity: 0;
}

.fastReveal {
  transition: opacity 0.5s;
  opacity: 1;
}

@keyframes bounce {
  0%{transform: translateY(-7px)}
  50%{transform: translateY(0)}
  100%{transform: translateY(-7px)}
}

.float {
  animation: bounce ease-in-out 2s;
  animation-iteration-count: infinite;
}

@media (min-aspect-ratio: 1/1){
  #about{
    height: 80vh;
  }
  .navM{
    display: none;
  }
  .navD{
    display: block;
  }
  #eyeM{
    display: none;
  }
  #eyeD{
    display: flex;
  }
  .homeTopD{
    display: flex;
  }
  .homeTopM{
    display: none;
  }
  .home{
    padding-bottom: 0;
    padding-top: 4rem;
  }
  .btnContainer{
    width: 10rem;
  }
}